@model SportsStore.Domain.Entities.Product

<div data-role="collapsible" data-collapsed="true" data-content-theme="c">
    <h2>
        @Model.Name
    </h2>
    <div class="ui-grid-b" data-toggle="collapse">
        <div class="ui-block-a">
            @Model.Description
        </div>
        <div class="ui-block-b">
            <strong>(@Model.Price.ToString("c"))</strong>
        </div>
        <div class="ui-block-c">
            @using (Html.BeginForm("AddToCart", "Cart"))
            {
                @Html.HiddenFor(x => x.ProductID)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                if (Model.InventoryQty != 0)
                {
                    <input type="submit" data-inline="true" data-mini="true" value="Add to cart" data-theme="b"/>
                }
                else
                {
                    <input disabled type="submit" data-inline="true" data-mini="true" value="Out of stock" data-theme="a"/>
                }
            }
        </div>
        <strong>

        </strong>
    </div>
</div>