@model SportsStore.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "Sports Store: Your Cart";
}

<style>
    #cartTable td {
        vertical-align: middle;
    }
</style>

<div data-role="header" data-theme="b">
    <h1>YOUR CART:</h1>
</div>

<table id="cartTable" class="table ui-responsive" data-role="table">
    <thead>
        <tr>
            <th>Qty</th>
            <th>Item</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
            <th>Remove?</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Product.Name</td>
                <td class="text-right">@line.Product.Price.ToString("c")</td>
                <td class="text-right">@((line.Quantity * line.Product.Price).ToString("c"))</td>
                <td clss="text-center">
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                {
                        @Html.Hidden("ProductId", line.Product.ProductID)
                        @Html.HiddenFor(x => x.ReturnUrl) <!---->
                        <input class="btn btn-warning" type="submit" data-iconpos="notext" value="" data-role="button" data-icon="delete"/>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div data-role="header" data-theme="e">
    <h1>
        <strong>Total:</strong>
        @Model.Cart.ComputeTotalValue().ToString("c")
    </h1>
</div>

<div class="text-enter">
    <a class="btn btn-primary" data-role="button" href="@Model.ReturnUrl">Continue Shopping</a>
    @Html.ActionLink("Checkout now", "Checkout", null, new { @class = "btn btn-primary", data_role = "button" })
</div>

<style>
    tr {
        border-bottom: 1px solid #d6d6d6;
    }
</style>