@model SportsStore.Domain.Entities.Cart

<div class="navbar-right">
    @Html.ActionLink("Checkout", "Index", "Cart",
        new { returnUrl = Request.Url.PathAndQuery },
        new { @class = "btn btn-defaul navbar-btn " })
</div>

<!--Modal Trigger-->
<div class="">
    <b>Your cart:</b>
    @Model.Lines.Sum(x => x.Quantity) item(s),
    @Model.ComputeTotalValue().ToString("c")
</div>

<div class="navbar-text navbar-right" onclick="cartClick()">
    <b>Your cart:</b>
    @Model.Lines.Sum(x => x.Quantity) item(s),
    @Model.ComputeTotalValue().ToString("c")
</div>

<!--Modal setup-->
<div id="myModal" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="closeCart()">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Your Cart:
                </h4>
            </div>
            <div class="modal-body">

                <table class="table" id="cartList">
                    <thead>
                        <tr>
                            <td><b>Quantity</b></td>
                            <td><b>Item</b></td>
                            <td><b>Price</b></td>
                            <td><b>Subtotal</b></td>
                            <td><b>Action</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var line in Model.Lines)
                        {
                            <tr>
                                <td>@line.Quantity</td>
                                <td>@line.Product.Name</td>
                                <td>@line.Product.Price.ToString("c")</td>
                                <td>@((line.Quantity * line.Product.Price).ToString("c"))</td>
                                <td>
                                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                {
                                        <input class="btn btn-sm btn-warning" type="submit" value="Remove" />
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
                <span class="totalPrice">Total Amount $@Model.ComputeTotalValue()</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeCart()">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


<!--JQuery for click and showing mini-cart-->
<script>

    function cartClick() {
        $('#myModal').show();
    }
    function closeCart() {
        $('#myModal').hide();
    }
</script>